In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kstest, anderson, probplot
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer
from sklearn.preprocessing import StandardScaler

In [5]:
fpath_01 = '../datasets/raw/consumer_airfare/table2_top1000_city-pair.csv'
df2 = pd.read_csv(fpath_01, sep=';')

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8268 entries, 0 to 8267
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tbl             8268 non-null   object
 1   Year            8268 non-null   int64
 2   quarter         8268 non-null   int64
 3   citymarketid    8268 non-null   int64
 4   city            8268 non-null   object
 5   markets         8268 non-null   int64
 6   cur_passengers  8268 non-null   object
 7   cur_fare        8268 non-null   float64
 8   cur_yield       8268 non-null   float64
 9   distance        8268 non-null   object
 10  ly_passengers   8265 non-null   object
 11  ly_fare         8265 non-null   float64
 12  ly_yield        8265 non-null   float64
 13  ly_distance     8265 non-null   object
 14  Geocoded_City   6701 non-null   object
 15  tbl2pk          8268 non-null   int64
dtypes: float64(4), int64(5), object(7)
memory usage: 1.0+ MB

In [7]:
print(df2['distance'].unique())

['648.2' '989.5' '1,043.7' ... '1,119.8' '1,218.5' '1,107.4']

In [11]:
df2.isnull().sum()

tbl                  0
Year                 0
quarter              0
citymarketid         0
city                 0
markets              0
cur_passengers       0
cur_fare             0
cur_yield            0
distance             0
ly_passengers        3
ly_fare              3
ly_yield             3
ly_distance          3
Geocoded_City     1567
tbl2pk               0
dtype: int64

In [9]:
for col in df2.columns:
    if any(x in col for x in ['passengers', 'distance']):
        if any(y in col for y in ['passengers']):
            df2[col] = df2[col].astype(str).str.replace(',', '', regex=True).str.strip()
            df2[col] = pd.to_numeric(df2[col], errors='coerce').astype(pd.Int64Dtype())
        else:
            df2[col] = df2[col].astype(str).str.replace(',', '', regex=False)
            df2[col] = df2[col].replace(['NA', 'N/A', 'None', np.inf, -np.inf], np.nan)
            df2[col] = pd.to_numeric(df2[col], errors='coerce')
df2.dtypes

tbl                object
Year                int64
quarter             int64
citymarketid        int64
city               object
markets             int64
cur_passengers      Int64
cur_fare          float64
cur_yield         float64
distance          float64
ly_passengers       Int64
ly_fare           float64
ly_yield          float64
ly_distance       float64
Geocoded_City      object
tbl2pk              int64
dtype: object